<aside class="aside" [ngClass]='{"open":isOpenSideBar}'>
    <div class="aside-content" *ngFor="let name of names;let id = index">
        <li class=" active" [ngClass]="{'collapsed':isOpen[id]}" (click)="openDropDownMenu(id)">
            <a><i class='{{"fa fa-lg " + fontNames[id]}}'></i> {{name}} <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="products" [ngClass]="{'show':isOpen[id],'in':isOpen[id]}">
            <li><a routerLink='{{"/projects/add"+name}}'>{{"Add " + name}}</a></li>
            <li><a routerLink='{{"/"+name+"s"}}'>{{name + " Managment"}}</a></li>
        </ul>
    </div>
</aside>

